header(class="main-heading")
  div(class="overlay")
  div(class="container")
    div(class="row")
      div(class="col-lg-6 col-md-8")
        div(class="site-heading")
          h1 HN Feed
          span(class="subheading") We 3 hacker news!
app-articles-list


